@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

body {
  font-family: "Agdasima", sans-serif;
  animation: introduction 20s;
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

@keyframes introduction {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: visible;
  }
}
